.page-content {
  display: flex;
  height: $page-content-height;
  margin: 0 auto;
  max-width: $site-max-width;
}

.page-content__sidebar {
  display: none;
  padding-right: #large-space;
  width: $page-content-side-bar-width;
}

.page-content__main {
  display: flex;
  width: 100%;
}

@include desktop {
  .page-content {
    padding: $space;
  }
  
  .page-content__sidebar {
    display: flex;
  }
  
  .page-content__main {
    width: $page-content-main-width;
  }
}
