// Colors
$grey: #ddd;
$brand-primary: #5b4681;

//Spacing
$space: 1.4rem;

// Font Sizes
$base-font-size: 1.6rem;

// Form Inputs
$input-border: $grey;
$input-spacing: 1rem;

// Boxed View
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: #fff;

// Button
$button-bg: $brand-primary;
$button-color: #fff;
$button-pill-color: $brand-primary;
$button-secondary-bg: #F9F9F9;
$button-secondary-color: #777;
$button-secondary-border-color: $grey;